/* -------------------------------
CONTAINER MICRO COMPONENT
------------------------------- */
.cbo-container {
  margin: 4.375rem auto;
  max-width: 81.875rem;
  padding: 0 1.25rem;
  position: relative;
  width: 100%;

  &.container--nomargin{
    margin: 0 auto;
  }
  &.container--padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4.375rem;
    padding-bottom:4.375rem;
  }
  &.container--medium{
    max-width: 73.25rem;
  }
  &.container--xsmall{
    max-width: 50.625rem;
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
  .cbo-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-container {
    margin: 7.5rem auto;
    padding-left: 4.375rem;
    padding-right: 4.375rem;

    &.container--padding {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
    }
  }
}